.side-menu .brand-name{
    height:10vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.side-menu li{
    font-size: 24px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
}